<table border="1" id="tbl">
  <tr>
    <th>Actor1</th>
    <th>Actor2</th> 
    <th>Actor3</th>
    <th>Director</th>
    <th>Genres</th>
    <th>Title</th>
    <th>HashTags</th>
    <th>Trailer</th>
	<th>YourRate</th>



  </tr>
<tr>
	<th>Joel David Moore</th> <th>CCH Pounder</th><th>Wes Studi</th><th>James Cameron</th> <th>Action|Adventure|Fantasy|Sci-Fi</th> <th>Avatar</th>  <th>avatar|future|marine|native|paraplegic</th><th><a href="http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-5" type="radio" name="star1"/>
	    <label class="star star-5" for="star-5"></label>
	    <input class="star star-4" id="star-4" type="radio" name="star2"/>
	    <label class="star star-4" for="star-4"></label>
	    <input class="star star-3" id="star-3" type="radio" name="star3"/>
	    <label class="star star-3" for="star-3"></label>
	    <input class="star star-2" id="star-2" type="radio" name="star4"/>
	    <label class="star star-2" for="star-2"></label>
	    <input class="star star-1" id="star-1" type="radio" name="star5"/>
	    <label class="star star-1" for="star-1"></label>
	</form>
</div>
<th>
</tr>





<tr>
	<th> Johnny Depp</th> <th>Orlando Bloom</th><th> Jack Davenport</th><th>Gore Verbinski</th> <th>Action|Adventure|Fantasy</th> <th> Pirates of the Caribbean: At World's End</th>  <th>singapor</th><th><a href="http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1,1238.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-52" type="radio" name="star6"/>
	    <label class="star star-5" for="star-52"></label>
	    <input class="star star-4" id="star-42" type="radio" name="star7"/>
	    <label class="star star-4" for="star-42"></label>
	    <input class="star star-3" id="star-32" type="radio" name="star8"/>
	    <label class="star star-3" for="star-32"></label>
	    <input class="star star-2" id="star-22" type="radio" name="star9"/>
	    <label class="star star-2" for="star-22"></label>
	    <input class="star star-1" id="star-12" type="radio" name="star10"/>
	    <label class="star star-1" for="star-12"></label>
	</form>
</div>
<th>
</tr>




<tr>
	<th> Mark Addy</th> <th>William Hurt</th><th> Scott Grimes</th><th>Ridley Scott</th> <th>Action|Adventure|Drama|History</th> <th> Robin Hood</th>  <th>robin_hood</th><th><a href="http://www.imdb.com/title/tt0955308/?ref_=fn_tt_tt_1,546.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-53" type="radio" name="star11"/>
	    <label class="star star-5" for="star-53"></label>
	    <input class="star star-4" id="star-43" type="radio" name="star12"/>
	    <label class="star star-4" for="star-43"></label>
	    <input class="star star-3" id="star-33" type="radio" name="star13"/>
	    <label class="star star-3" for="star-33"></label>
	    <input class="star star-2" id="star-23" type="radio" name="star14"/>
	    <label class="star star-2" for="star-23"></label>
	    <input class="star star-1" id="star-13" type="radio" name="star15"/>
	    <label class="star star-1" for="star-13"></label>
	</form>
</div>
<th>
</tr>



<tr>
	<th> Christian_Bale</th> <th>Heath_Ledgere</th><th> Morgan_Freeman</th><th>Christopher_Nolan</th> <th>Action|Crime|Drama|Thriller</th> <th> The Dark Knight</th>  <th>urban_set</th><th><a href="http://www.imdb.com/title/tt0468569/?ref_=fn_tt_tt_1,4667.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-54" type="radio" name="star16"/>
	    <label class="star star-5" for="star-54"></label>
	    <input class="star star-4" id="star-44" type="radio" name="star17"/>
	    <label class="star star-4" for="star-44"></label>
	    <input class="star star-3" id="star-34" type="radio" name="star18"/>
	    <label class="star star-3" for="star-34"></label>
	    <input class="star star-2" id="star-24" type="radio" name="star19"/>
	    <label class="star star-2" for="star-24"></label>
	    <input class="star star-1" id="star-14" type="radio" name="star20"/>
	    <label class="star star-1" for="star-14"></label>
	</form>
</div>
<th>
</tr>











<tr>
	<th> Aidan Turner</th> <th> Adam Brown</th><th> BJames Nesbitt</th><th>Peter Jackson</th> <th>Adventure|Fantasy</th> <th> The Hobbit: An Unexpected Journey</th>  <th>dragon|dwarf|hobbit|orc|wizard</th><th><a href="http://www.imdb.com/title/tt0903624/?ref_=fn_tt_tt_1">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-55" type="radio" name="star21"/>
	    <label class="star star-5" for="star-55"></label>
	    <input class="star star-4" id="star-45" type="radio" name="star22"/>
	    <label class="star star-4" for="star-45"></label>
	    <input class="star star-3" id="star-35" type="radio" name="star23"/>
	    <label class="star star-3" for="star-35"></label>
	    <input class="star star-2" id="star-25" type="radio" name="star24"/>
	    <label class="star star-2" for="star-25"></label>
	    <input class="star star-1" id="star-15" type="radio" name="star25"/>
	    <label class="star star-1" for="star-15"></label>
	</form>
</div>
<th>
</tr>




<tr>
	<th> Leonardo_DiCaprio</th> <th> Naomi_Watts</th><th> Kaitlyn_Dever</th><th>Clint_Eastwood</th> <th>Biography|Crime|Drama</th> <th> J. Edgar</th>  <th>secrett</th><th><a href="http://www.imdb.com/title/tt1616195/?ref_=fn_tt_tt_1,279.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-56" type="radio" name="star26"/>
	    <label class="star star-5" for="star-56"></label>
	    <input class="star star-4" id="star-46" type="radio" name="star27"/>
	    <label class="star star-4" for="star-46"></label>
	    <input class="star star-3" id="star-36" type="radio" name="star28"/>
	    <label class="star star-3" for="star-36"></label>
	    <input class="star star-2" id="star-26" type="radio" name="star29"/>
	    <label class="star star-2" for="star-26"></label>
	    <input class="star star-1" id="star-16" type="radio" name="star30"/>
	    <label class="star star-1" for="star-16"></label>
	</form>
</div>
<th>
</tr>






<tr>
	<th> Leslie_Bibb</th> <th>Patrick_Fugit</th><th> Chase_Ellison</th><th>Goran_Dukic</th> <th>Comedy|Drama|Fantasy|Romance</th> <th> Wristcutters: A Love Story</th>  <th>suicid</th><th><a href="http://www.imdb.com/title/tt0477139/?ref_=fn_tt_tt_1,88.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-57" type="radio" name="star31"/>
	    <label class="star star-5" for="star-57"></label>
	    <input class="star star-4" id="star-47" type="radio" name="star32"/>
	    <label class="star star-4" for="star-47"></label>
	    <input class="star star-3" id="star-37" type="radio" name="star33"/>
	    <label class="star star-3" for="star-37"></label>
	    <input class="star star-2" id="star-27" type="radio" name="star34"/>
	    <label class="star star-2" for="star-27"></label>
	    <input class="star star-1" id="star-17" type="radio" name="star35"/>
	    <label class="star star-1" for="star-17"></label>
	</form>
</div>
<th>
</tr>










<tr>
	<th> Brighton_Sharbino</th> <th>Ethan_Embry</th><th> Elissa_Dowling</th><th>E.L._Katz</th> <th>Comedy|Crime|Drama|Horror|Thriller</th> <th> Cheap Thrills</th>  <th>violenc</th><th><a href="http://www.imdb.com/title/tt2389182/?ref_=fn_tt_tt_1,52.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-58" type="radio" name="star36"/>
	    <label class="star star-5" for="star-58"></label>
	    <input class="star star-4" id="star-48" type="radio" name="star37"/>
	    <label class="star star-4" for="star-48"></label>
	    <input class="star star-3" id="star-38" type="radio" name="star38"/>
	    <label class="star star-3" for="star-38"></label>
	    <input class="star star-2" id="star-28" type="radio" name="star39"/>
	    <label class="star star-2" for="star-28"></label>
	    <input class="star star-1" id="star-18" type="radio" name="star40"/>
	    <label class="star star-1" for="star-18"></label>
	</form>
</div>
<th>
</tr>
















<tr>
	<th> Brad_Pitt</th> <th>Meat_Loaf</th><th> Eugenie_Bondurant</th><th>David_Fincher</th> <th>Drama</th> <th> Fight Club</th>  <th>surpris_end</th><th><a href="http://www.imdb.com/title/tt0137523/?ref_=fn_tt_tt_1,2968.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-59" type="radio" name="star41"/>
	    <label class="star star-5" for="star-59"></label>
	    <input class="star star-4" id="star-49" type="radio" name="star42"/>
	    <label class="star star-4" for="star-49"></label>
	    <input class="star star-3" id="star-39" type="radio" name="star43"/>
	    <label class="star star-3" for="star-39"></label>
	    <input class="star star-2" id="star-29" type="radio" name="star44"/>
	    <label class="star star-2" for="star-29"></label>
	    <input class="star star-1" id="star-19" type="radio" name="star45"/>
	    <label class="star star-1" for="star-19"></label>
	</form>
</div>
<th>
</tr>





<tr>
	<th> Angelina_Jolie_Pitt</th> <th>Fisher_Stevens</th><th> Lorraine_Bracco</th><th>Iain_Softleyt</th> <th>Comedy|Crime|Drama|Thriller</th> <th> Hackers</th>  <th>making_virus|hackers </th><th><a href="http://www.imdb.com/title/tt0113243/?ref_=fn_tt_tt_1,223.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-510" type="radio" name="star46"/>
	    <label class="star star-5" for="star-510"></label>
	    <input class="star star-4" id="star-410" type="radio" name="star47"/>
	    <label class="star star-4" for="star-410"></label>
	    <input class="star star-3" id="star-310" type="radio" name="star48"/>
	    <label class="star star-3" for="star-310"></label>
	    <input class="star star-2" id="star-210" type="radio" name="star49"/>
	    <label class="star star-2" for="star-210"></label>
	    <input class="star star-1" id="star-110" type="radio" name="star50"/>
	    <label class="star star-1" for="star-110"></label>
	</form>
</div>
<th>
</tr>





<tr>
	<th> Al_Pacino</th> <th>Marlon_Brando</th><th> Robert_Duvall</th><th>Francis_Ford_Coppola</th> <th>Crime|Dramar</th> <th> The Godfather</th>  <th>rise_to_power</th><th><a href="http://www.imdb.com/title/tt0068646/?ref_=fn_tt_tt_1">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-511" type="radio" name="star51"/>
	    <label class="star star-5" for="star-511"></label>
	    <input class="star star-4" id="star-411" type="radio" name="star52"/>
	    <label class="star star-4" for="star-411"></label>
	    <input class="star star-3" id="star-311" type="radio" name="star53"/>
	    <label class="star star-3" for="star-311"></label>
	    <input class="star star-2" id="star-211" type="radio" name="star54"/>
	    <label class="star star-2" for="star-211"></label>
	    <input class="star star-1" id="star-111" type="radio" name="star55"/>
	    <label class="star star-1" for="star-111"></label>
	</form>
</div>
<th>
</tr>






<tr>
	<th> Johnny_Depp</th> <th>Tom_Berenger</th><th> Kevin_Dillon</th><th>Oliver_Stone</th> <th>Drama|War</th> <th> Platoon</th>  <th>vietnam_war</th><th><a href="http://www.imdb.com/title/tt0091763/?ref_=fn_tt_tt_1">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-512" type="radio" name="star56"/>
	    <label class="star star-5" for="star-512"></label>
	    <input class="star star-4" id="star-412" type="radio" name="star57"/>
	    <label class="star star-4" for="star-412"></label>
	    <input class="star star-3" id="star-312" type="radio" name="star58"/>
	    <label class="star star-3" for="star-312"></label>
	    <input class="star star-2" id="star-212" type="radio" name="star59"/>
	    <label class="star star-2" for="star-212"></label>
	    <input class="star star-1" id="star-112" type="radio" name="star60"/>
	    <label class="star star-1" for="star-112"></label>
	</form>
</div>
<th>
</tr>





<tr>
	<th> Tom_Hanks</th> <th>John_Ratzenberger</th><th> Don_Ricklesy</th><th>Lee_Unkrich</th> <th>Adventure|Animation|Comedy|Family|Fantasy</th> <th> Toy Story 3</th>  <th>toy</th><th><a href="http://www.imdb.com/title/tt0435761/?ref_=fn_tt_tt_1,733.">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-513" type="radio" name="star61"/>
	    <label class="star star-5" for="star-513"></label>
	    <input class="star star-4" id="star-413" type="radio" name="star62"/>
	    <label class="star star-4" for="star-413"></label>
	    <input class="star star-3" id="star-313" type="radio" name="star63"/>
	    <label class="star star-3" for="star-313"></label>
	    <input class="star star-2" id="star-213" type="radio" name="star64"/>
	    <label class="star star-2" for="star-213"></label>
	    <input class="star star-1" id="star-113" type="radio" name="star65"/>
	    <label class="star star-1" for="star-113"></label>
	</form>
</div>
<th>
</tr>






<tr>
	<th> Morgan_Freeman</th> <th>Tom_Cruise</th><th> Zoe_Bell</th><th> Joseph_Kosinski</th> <th>Action|Adventure|Mystery|Sci-Fi</th> <th> Oblivion</th>  <th>veteran_soldier|alien_race</th><th><a href="http://www.imdb.com/title/tt1483013/?ref_=fn_tt_tt_1,892.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-514" type="radio" name="star66"/>
	    <label class="star star-5" for="star-514"></label>
	    <input class="star star-4" id="star-414" type="radio" name="star67"/>
	    <label class="star star-4" for="star-414"></label>
	    <input class="star star-3" id="star-314" type="radio" name="star68"/>
	    <label class="star star-3" for="star-314"></label>
	    <input class="star star-2" id="star-214" type="radio" name="star69"/>
	    <label class="star star-2" for="star-214"></label>
	    <input class="star star-1" id="star-114" type="radio" name="star70"/>
	    <label class="star star-1" for="star-114"></label>
	</form>
</div>
<th>
</tr>






<tr>
	<th> Jelena_Jovanova</th> <th>Nikola_Djuricko</th><th> Branko_Djuri</th><th>Angelina_Jolie_Pitt</th> <th>Drama|Romance|War</th> <th> In the Land of Blood and Honeys</th>  <th>violenc</th><th><a href="http://www.imdb.com/title/tt1714209/?ref_=fn_tt_tt_1,180.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form action="">
	    <input class="star star-5" id="star-515" type="radio" name="star71"/>
	    <label class="star star-5" for="star-515"></label>
	    <input class="star star-4" id="star-415" type="radio" name="star72"/>
	    <label class="star star-4" for="star-415"></label>
	    <input class="star star-3" id="star-315" type="radio" name="star73"/>
	    <label class="star star-3" for="star-315"></label>
	    <input class="star star-2" id="star-215" type="radio" name="star74"/>
	    <label class="star star-2" for="star-215"></label>
	    <input class="star star-1" id="star-115" type="radio" name="star75"/>
	    <label class="star star-1" for="star-115"></label>
	</form>
</div>
<th>
</tr>








<tr>
	<th> Julia_Robertsn</th> <th>Enrico_Colantoni</th><th> Blair_Underwood</th><th>Steven_Soderbergh</th> <th>Comedy|Romance</th> <th> Full Frontal</th>  <th>love|passions</th><th><a href="http://www.imdb.com/title/tt0290212/?ref_=fn_tt_tt_1,172.0">watch trailer</a></th>
</th>
<th>
<div class="stars">
	<form ng-controller="chooseController" ng-submit="submit()">
	    <input class="star star-5" id="star-516" type="radio" name="star76"/>
	    <label class="star star-5" for="star-516"></label>
	    <input class="star star-4" id="star-416" type="radio" name="star77"/>
	    <label class="star star-4" for="star-416"></label>
	    <input class="star star-3" id="star-316" type="radio" name="star78"/>
	    <label class="star star-3" for="star-316"></label>
	    <input class="star star-2" id="star-216" type="radio" name="star79"/>
	    <label class="star star-2" for="star-216"></label>
	    <input class="star star-1" id="star-116" type="radio" name="star80"/>
	    <label class="star star-1" for="star-116"></label>
	</form>
</div>
<th>
</tr>

</table>
<p id="subbutton" align="right">
	<button id="btnsub" type="button" ng-click="submit()">SUBMMIT</button>
</p>